<mat-tab-group>
  <mat-tab label="Powertofly">
    <mat-drawer-container class="example-container">
      <mat-drawer class="account-card" mode="side" opened>
        <mat-card (click)="chooseAccount(item.Email)" [ngClass]="item.IsSelected ? 'card-selected' : 'card-deselected'" class="card" *ngFor="let item of arrayOfAccount"> 
            <span> {{item.Email}}</span>
            <span [ngClass]="item.Status == 'Available' ? 'avialable-status' : 'working-status'" class="status"> {{item.Status}}</span>
        </mat-card>
        <button mat-button class="card-button indigo-color" (click)="openDialog()">Add new account</button>
      </mat-drawer>
      <mat-drawer-content class="side-content">
          <div class="text-block">
            <mat-form-field class="example-full-width field-full">
              <mat-label>Covver Letter</mat-label>
              <textarea [(ngModel)]="coverLetterPowerToFly" matInput placeholder="Type text here"></textarea>
            </mat-form-field>
          </div>
          <mat-checkbox class="example-margin" [(ngModel)]="checkBoxIgnore">Do not send CV to same Job (within one account)</mat-checkbox>
          <div class="text-block">
            <mat-form-field class="example-full-width field-full">
              <mat-label id="job-links">Job links</mat-label>
              <textarea [(ngModel)]="jobLinksPowerToFly" matInput placeholder="Divide links using ;"></textarea>
            </mat-form-field>
          </div>
          <button mat-button class="indigo-color" (click)="startParseByLinks()">Start</button>
          <div>
            <span *ngIf="allJobsPowerToFly > 0"> All jobs: {{allJobsPowerToFly}}  </span>
            <span *ngIf="allJobsPowerToFly > 0"> Passed jobs: {{donePowertofly}}  </span>
          </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>